*{
    margin: 0;
    padding: 0;
}
.container{
    height:1450px;
    width: 1020px;
}
.main{
    height: 1440px;
    width: 1000px;
    box-sizing: border-box;
    border: 2px solid;
    margin:10px auto;
}
.header{
    height: 180px;
    width: 980px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid;
}
.name-section{
    height: 180px;
    width: 350px;
}
.photo{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 2px solid;
    margin-top: 8px;
    background-image: url('abhhh.png');
    background-size: cover;
}
.contact{
    height: 180px;
    width: 280px;
}
#name{
    margin: 25px 0px 0px 20px;
    font-size: 30px;
    font-weight: 700;
    font-family: cursive;
}
.education{
    height: 100px;
    width: 980px;
    display: flex;
    margin-left: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid;
}
.collagename{
    height: 100px;
    width: 650px;
    
}
.place{
    height: 100px;
    width: 310px;
    
}
.skills{
    height: 180px;
    width: 980px;
    display: flex;
    margin-left: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid;
}
#names{
    height: 170px;
    width: 250px;
    margin-top: 7px;
}
#discription{
    height: 170px;
    width: 730px;
    margin-top: 7px;
}
.skill{
    margin: 10px 0px 0px 30px;
    font-size: 18.3px;
    font-weight: 800;
}
.discriptions{
    margin: 12px 0px 0px 30px;
}
.experiance{
    height: 290px;
    width: 980px;
    margin-left: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid;
}
.project{
    height: 270px;
    width: 980px;
    margin-left: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid;
}
.certificate{
    height: 270px;
    width: 980px;
    margin-left: 10px;
    box-sizing: border-box;
}
.order{
    font-size: 22px;
    font-weight: 700;
    margin: 10px 0px 0px 15px;
}
.inf{
    font-size: 19px;
    margin: 10px 0px 10px 65px;
}
.info{
    font-size: 19px;
    margin: 15px 0px 20px 65px;
}
.exp{
    font-size: 17px;
    margin: 5px 0px 5px 90px;
}
.expe{
    font-size: 17px;
    margin: 12px 0px -7px 25px;
}.infoo{
    font-size: 17px;
    margin: 10px 0px 10px 65px;
}

